lang en_US
keyboard us
timezone America/New_York --isUtc
rootpw $2b$10$65U6hdjdvSMEJ8RoM7B31upm20jRyFMjgXX2563FpgsmaitVydNmu --iscrypted
#platform x86_64
reboot
text
cdrom
bootloader --append="rhgb quiet crashkernel=auto"
zerombr
clearpart --all --initlabel
autopart
auth --passalgo=sha512 --useshadow
selinux --enforcing
firewall --enabled
skipx
firstboot --disable
%packages
@^minimal-environment
@standard
@network-tools
@performance
%end

%post --erroronfail
useradd -m mmcfalls -p '$2b$10$65U6hdjdvSMEJ8RoM7B31upm20jRyFMjgXX2563FpgsmaitVydNmu'
usermod -a -G wheel mmcfalls
%end