<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip" />
    <package id="git" />
    <package id="googlechrome" />
    <package id="firefox" />
    <package id="vscode" installArguments="/NoDesktopIcon /NoQuicklaunchIcon" />
    <package id="visualstudiocode-disableautoupdate" />
    <package id="python" installArgument="/quiet InstallAllUsers=1 PrependPath=1 DefaultCustomTargetDir='c:\python27' Include_launcher=0 Include_test=1 Include_tools=1 SimpleInstall=1 Include_pip=1" />
    <package id="r" installArgument="/MERGETASKS=!desktopicon" />
    <package id="r.studio" installArguments="/MERGETASKS=!desktopicon" />
    <package id="anaconda3" installArguments="/InstallationType=AllUsers /AddToPath=1 /RegisterPython=1 /D:'C:\programdata\Anaconda3'" />
    <package id="windows-adk" version="10.1.22000.2" />
    <package id="windows-adk-winpe" version="10.1.22000.2" />
</packages>

